html {
  font-size: 14px;
}

.App {
  text-align: center;
}

.champion-layout {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vw
}

.champion-box {
  /* 14px = 1rem */
  width: 10vw;
  padding: .5rem; 
}

.header {
  display: flex;
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid black;
  padding: .5rem;
  position: sticky;
  top: 0;
}